@{
    ViewData["Title"] = "Inicio";
}

<h1>Bienvenidos</h1>

<div class="text-center">
    <img src="https://sociologiac.net/sociology/wp-content/uploads/2008/08/bandera-juegos-olimpicos-olimpiadas-768x512.png" alt="Bienvenida" class="img-fluid" />
</div>





