@model Presentacion.Models.AltaUsuarioViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<span>@ViewBag.Error</span>

<h4>AltaUsuarioDTO</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DTOAltaUsuario.IdUser" class="control-label"></label>
                <input asp-for="DTOAltaUsuario.IdUser" class="form-control" readonly />
                <span asp-validation-for="DTOAltaUsuario.IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTOAltaUsuario.EmailUsuario" class="control-label"></label>
                <input asp-for="DTOAltaUsuario.EmailUsuario" class="form-control" />
                <span asp-validation-for="DTOAltaUsuario.EmailUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTOAltaUsuario.ContraseniaUsuario" class="control-label"></label>
                <input asp-for="DTOAltaUsuario.ContraseniaUsuario" class="form-control" />
                <span asp-validation-for="DTOAltaUsuario.ContraseniaUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTOAltaUsuario.IdRol" class="control-label"></label>
                <select asp-for="DTOAltaUsuario.IdRol" class="form-control">
                    <option value="">Seleccione un rol</option>
                    @foreach (var item in Model.RolesDTO)
                    {
                        <option value="@item.IdRol">@item.NombreRol</option>
                    }
                </select>
                <span asp-validation-for="DTOAltaUsuario.IdRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
